---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    padding: 0 1rem 0 1rem;
    border-radius: 15px;
    border: #3273dc solid 1px;
    width: 100px;
    text-align: center;
    @apply duration-200;
  }
  a.active {
    font-weight: bolder;
    background-color: #3273dc;
    color: white;
  }
  a:hover {
    @apply hover:scale-105 duration-200;
  }
</style>
